@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    min-height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}


iframe#tela {
    position: absolute;
    top: 79px;
    left: 21px;
    width: 269px;
    height: 473px;
}

section#rede-social {
    text-align: right;
}

section#rede-social img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#rede-social img:hover {
    border: 2px solid rgba(255, 255, 255, 0.600);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    transition: transform .5 border 1s;
}



